body{
    margin: 0;
    padding: 0;
}

nav{
    background: linear-gradient(to bottom right,#1f1f1f,#000000) ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 15%;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: right;
}

.navbar li {
  display: inline-block;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  margin-right: 5px;
  padding: 15px;
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
}

.navbar li a:hover {
   background-color: #32C0F7;
}

.home{
    height:90vh; 
    background: linear-gradient(to bottom right, #020865,#02063d, #010320,#010320,#010320,#000000) ; 
    display: flex;
}
.container{
    flex: 1;
}
.form{
    flex:1;
    background-color: white;
    justify-items: center;
    
}

.form form{
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom right, #020865,#02063d, #010320,#010320,#010320,#000000) ;
    margin: 40px;
    border-radius: 10px;
    margin-top: 10%;            
}

input, textarea{
margin: 20px 50px;
padding: 10px;
border-radius: 5px;
border: none;
}

button{
width: fit-content;
margin: 20px;
padding: 10px 40px;
background-color: #32C0F7;
color: #010320;
border: none;
border-radius: 6px;
cursor: pointer;
align-self: center;
}

h1{
color: white;
align-self: center;
}

.arrow{
margin-left: 30%;
padding: 30px;
background-color: #32C0F7;
clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
width: fit-content;
margin-top: 10%;
color: #010320;
font-weight: 900;
}

.arrow:hover{
animation: 0.5s rotate;
cursor: pointer;
}

.main-text h1{
font-size: 60px;
margin: 20px;
margin-top: 10%;
}

#spin{
font-style: italic;
}

#spin:after{
content: "";
animation: spin 3s linear infinite;
}

img{
width: 30px;
padding: 0px 10px;
vertical-align: bottom;
}

@keyframes rotate{
0%{
    transform: rotate(0);
}
100%{
    transform: rotate(360deg);
}
}

@keyframes spin{
0%{
    content: "WEB DEVELOPERS";
}
25%{
    content: "APP DEVELOPERS";
    color: rgb(111, 233, 194);
}
50%{
    content: "LOGO DESIGNS";
    color: rgb(255, 185, 0);
}
75%{
    content: "ML EXPERTS";
    color: rgb(174, 0, 255);
}
100%{
    content: "IoT ENGINEERS";
    color: rgb(255, 0, 111);
}

}